<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14E46</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>puppet-agent-installer-plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.puppetlabs.puppet-agent-installer-plugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>puppet-agent-installer-plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6E35b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14D125</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0640</string>
	<key>DTXcodeBuild</key>
	<string>6E35b</string>
	<key>InstallerSectionTitle</key>
	<string>Configuration</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Puppet Labs. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>puppet_agent_installer_plugin</string>
	<key>NSPrincipalClass</key>
	<string>InstallerSection</string>
</dict>
</plist>
