<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!--
  This is how to include wxi files.  We expect this file to define variables
  like the version numbers and the upgrade UUID.
  -->

  <Fragment>
    <DirectoryRef Id="TBD">  # The ID has to match the nssm service directory
      <Component Id="service_nssm" Guid="52B1CD57-95A2-4CA4-AB8E-9DDD6DE8FC66">
        <CreateFolder />
        <File Id="NSSM" KeyPath="yes" Source="stagedir\service\nssm.exe" />

        <ServiceInstall Id="PXPServiceInstaller"
          Account="[PUPPET_AGENT_ACCOUNT_DOMAIN]\[PUPPET_AGENT_ACCOUNT_USER]"
          Password="[PUPPET_AGENT_ACCOUNT_PASSWORD]"
          Description="Puppet Execution Protocol (PXP) Service"
          DisplayName="Puppet PXP Agent"
          Interactive="no"
          Name="pxp-agent"
          Start="demand"
          Type="ownProcess"
          ErrorControl="normal"
          Vital="yes" />
        <!-- Various registry keys documented at https://nssm.cc/usage -->
        <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\pxp-agent\Parameters">
          <RegistryValue Name="AppDirectory" Value="[INSTALLDIR]pxp-agent\bin" Type="expandable" />
          <RegistryValue Name="Application" Value="[INSTALLDIR]pxp-agent\bin\pxp-agent.exe" Type="expandable" />
          <RegistryValue Name="AppParameters" Value="" Type="expandable" />
          <RegistryValue Name="AppEnvironmentExtra" Value="PATH=[INSTALLDIR]sys\ruby\bin;%PATH%" Type="multiString" Action="append" />
          <!-- Skip responding to WM_QUIT and WM_CLOSE -->
          <RegistryValue Name="AppStopMethodSkip" Value="6" Type="integer" />
          <RegistryKey Key="AppExit">
            <!-- Stop the service completely on exit(2) (Invalid configuration) otherwise restart with NSSM service throttling -->
            <!-- nssm AppExit codes reference https://nssm.cc/usage#exit -->
            <RegistryValue Value="Restart" Type="string" />
            <RegistryValue Name="2" Value="Exit" Type="string" />
          </RegistryKey>
        </RegistryKey>

        <ServiceControl Id="PXPStartService" Stop="both" Remove="uninstall" Name="pxp-agent" Wait="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
